.action-bar {
    position: fixed;
    bottom: 32px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
    overflow: visible;
}

.action-bar button {
    padding: 12px 24px;
    background-color: #3F51B5;
    color: #fff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.action-bar button:hover {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

.action-bar button:active {
    background-color: #283593;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.action-bar button:not(:last-child) {
    margin-right: 16px;
}